<div class="card" style=" margin:5px auto;" >
  <div class="card-body" style="max-width:42rem;width:100%;margin: 5vh auto 5vh auto;">
    <h5 class="card-title">Pagar Boleto</h5>
    <p class="card-text">Insira os dados do boleto para efetuar o pagamento!</p>
    <br>

    <div class="form-group">
     <label for="bl-code">Linha Digitavel</label>
     <input name="bl-code" [textMask]="{mask: getCodeMask()}" [(ngModel)]="data.code" type="text" class="form-control" placeholder="00000.00000 00000.000000 00000.000000 0 00000000000000">
   </div>
   <div class="row">
    <div class="col">
     <div class="form-group">
       <label for="bl-vencimento">Vencimento</label>
       <input [disabled]="datavencimento" [textMask]="{mask: masks.date}" name="bl-vencimento" [(ngModel)]="data.vencimento" type="text" class="form-control" placeholder="00/00/0000">
     </div>
   </div>
   <div class="col">
     <div class="form-group">
       <label for="bl-valor">Valor</label>
       <input [disabled]="datavalue" name="bl-valor" [textMask]="{mask: masks.value}" [(ngModel)]="data.value" type="text" class="form-control" placeholder="R$ 0,00">
     </div>
   </div>
 </div>

 <br>
 <div *ngIf="err" class="err"> {{err}}</div>
 <br>
 <div style="float:rigth">
  <button [disabled]="err.length>0" [swal]="{ title: 'Digite seu Email:', input: 'email' }" (confirm)="openModal(template, comprovante, $event)" type="button" class="btn btn-primary">Pagar meu boleto!</button>
 </div>
</div>
</div>

<ng-template #template class="modal-pay">
  <div class="modal-header">
    <h4 style="padding-left:30px;" class="modal-title pull-left">Confirme o pagamento:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding-left:50px; padding-right:50px; padding-bottom:50px;">
  	<div class="">
  		<div style="float:">
        <div style="line-height: 50px;font-size: 18px;">
          Realize o depósito de <b>{{pagamento.crypto_value}} Nanos</b> na carteira:
        </div>
 <!--       <img style="width: 130px;background: #fff;margin: 14px auto!important;border-radius: 4px;display: block;" src="https://upload.wikimedia.org/wikipedia/commons/c/c6/WM2007_QRCode.svg"  alt="">
      </div>
      <div style="text-align:center; width:100%; opacity:0.3;">
       Ou-->
     </div> 
     <div class="form-group">
      <input class="form-control" [value]="pagamento.address">
    </div>
  </div>
  <br>

  <div style="text-align:right">
    * Expira em: {{tick}} segundos
  </div> 
  <div class="bar">

    <div class="complete" [style.width.%]="tick/tick_total*100"></div>
    <br>
  </div>
  <br>
  <!-- <button (click)="modalRef.hide() || openComprovante(comprovante)"  class="btn btn-primary">Continuar</button> -->


</div>
</ng-template>

<div class="comprovante-modal">
<ng-template #comprovante class="modal-pay">
  <div class="modal-header">  
    <h4 style="padding-left:30px;" class="modal-title pull-left">Comprovante de Pagamento:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalComprovante.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body comp" id="comprovante" style="padding-left:50px; background:#001432; padding-right:50px; padding-bottom:50px;">
    <!-- <img src="/assets/images/XRB.svg" class="bg" alt=""> -->

    <header>
  <div class="borda"></div>
  <div class="logo">
    <img style="margin-top:15px;" src="/assets/images/XRB.svg" alt="">
  </div>
  <div class="text">Pague com Nano</div>
</header><!-- /header -->
    <hr>
    <h4><b>PAGAMENTO DE BOLETO</b></h4>
<!--  <p>PROTOCOLO  <b> 0014785441</b> - <b>29/01/2018 11:01</b></p>
    <p>TERM <b>228022</b> AGENTE <b>228018</b> AUTE <b>00942</b> </p>
    <hr>
    <p>03399.88081 09000.070004 05217.201010 6 74200000066163 </p>
    <p>AUTO <b>014025</b> RECEBIMENTO CONTA</p>
    <p>BANCO <b>SANTANDER S.A</b></p>
    <hr>
    <h5>VALOR: R$ 661,63</h5>
    <p style="font-size: 10px!important;margin-top: -8px;">VALIDO COMO RECIBO DE PAGAMENTO</p> -->
	<p>Seu boleto está sendo pago!</p>
	<p>Em breve você receberá o comprovante de pagamento no seu email</p>


    
  </div>
  <div style="display:none;">
    <canvas id="canvas"></canvas>
  </div>
  <button (click)="printComprovante()" class="btn btn-primary"> Imprimir </button>
</ng-template>
</div>



<swal
#success
title="Pagamento Aguardando Confirmação"
text="Assim que seu pagamento for confirmado  você receberá um email."
type="success">
</swal>

<swal [timer]="4000" customClass="loading" #loading title="Já recebemos o seu pagamento e estamos recarregando o seu celular, é rapidinho 😉">
  <div  *swalPartial>
  <img style="max-width:110px; margin:0 auto;border-radius: 30px;margin-top:25px; display:block; background:#fff;" src="/assets/images/loading.svg" alt="">
    
  </div>
<swal>