<div class="card" style="margin:10px auto; margin-left: 20px;" >
  <div class="card-body">
    <h2 class="card-title" style="width:340px; margin:0 auto; text-align: center;">Recarga de Celular</h2>
    <br>

    <div class="form-group" style="width:28ch; margin:0 auto;">
     <label for="exampleFormControlInput1">Digite o número do celular:</label>
     <input [textMask]="{mask: phoneMask, guide: false}" style="font-size:30px;" type="text" class="form-control" placeholder="(99) 99999-9999" value="">
     <img class="logoop" src="assets/images/claro.png" alt="">
   </div>
   <br>
   <div class="form-group" style="width:340px; margin:0 auto;">
     <label style="width:100%;" for="exampleFormControlInput1">Valor desejado:</label>
     <div style="margin: 0 auto!important;display: flex;">
     	
     
<div style="margin: 0 auto;" class="btn-group btn-group-toggle orm-control rechargevalues" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" value="20" autocomplete="off" checked> R$ 20
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" value="15" autocomplete="off"> R$ 15
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" value="13" autocomplete="off"> R$ 13
  </label>
</div>
</div>
   </div>

	<br>
	<br>
	<div style="">
		<button style="margin:0 auto; display:block;" type="button" class="btn btn-primary">Recarregar!</button>
	</div>
  </div>
</div>