<div class="card" style=" margin:10px auto" >
  <div class="card-body">
    <h5 class="card-title">Recarga de Celular</h5>
    <p class="card-text">Insira seu telefone</p>
    <br>

    <div class="form-group" style="width:280px; margin:0 auto;">
     <label for="exampleFormControlInput1">Número do seu celular</label>
     <input [textMask]="{mask: phoneMask}" style="font-size:24px;" type="text" class="form-control" placeholder="ex.: (45) 99101-9920">
     <div style="font-size:10px;">
     	Operadora: Tim
     </div>
   </div>
   <br>
    <div class="form-group" style="width:280px; margin:0 auto;">
     <label for="exampleFormControlInput1">Valor Desejado:</label>
     <select class="custom-select" size="3">
	  <option value="1">R$ 13,00</option>
	  <option value="2">R$ 16,00</option>
	  <option value="3">R$ 18,00</option>
	</select>
     <div style="font-size:10px;">
     	Valores disponibilizados pelas operadoras
     </div>
   </div>

	<br>
	<br>
	<div style="">
		<button style="margin:0 auto; display:block;" type="button" class="btn btn-primary">Realizar Recarga</button>
	</div>
  </div>
</div>