.card {
    color: #fff;
    .card-body {
    	margin: 35px;
    }
}
h3 {
    text-align: center;
}
label {
    text-align: center!important;
    width: 100%;
}
select.custom-select {
    background: #001432;
    color: #fff;
    margin-left: -14px;
}
p {
    text-align: center;
}
.logoop {
    width: 40px;
    position: absolute;
    right: -45px;
    bottom: 8px;
}

.form-group {
    position: relative;
}

input.form-control {
    text-align: left;
    background: transparent!important;
    border: 0px;
    border-bottom: 1px solid #0060fd;
    border-radius: 0px;
    padding-left: 3px;
	padding-right: 3px;
    margin-top: 0px;
    color: #fff;
    outline:none!important;
}
input.form-control:focus {
    box-shadow: none;
	background: rgba(0, 0, 0, 0.1450980392156863) !important;
}
select.form-control {
    background: transparent!important;
    border: 0px;
    border-bottom: 1px solid #0060fd;
    line-height: 25px;
    border-radius: 0px;
    padding-left: 0px;
    margin-top:0px;
    color: #fff;
    outline:none!important;
}

.rechargevalues .btn {
	border: 4px solid transparent;
	font-size: 1.5rem;
}
@media (max-width:600px) {
    .card-body {
        margin: 0px!important;    
    }
}

.modal-dialog {
    max-width: 720px!important;
}

.modal-body.comp {
    position: relative;
    padding-left: 50px;
    background: #001432;
    padding-right: 50px;
    max-width: 400px;
    background-size: 102% 102%!important;
    background-position: -3px!important;
    background-image: url(/assets/images/bg-padron.png)!important;
    width: 100%;
    padding-bottom: 50px;
    margin: 0 auto;

}

.bar {
    height: 6px;
    background: rgba(0, 70, 227, 0.47058823529411764);
    border-radius: 5px;
    margin-bottom: 20px;
}

.complete {
    background: rgb(0, 70, 227);
    width: 40%;
    height: 6px;
    border-radius: 5px;
}